* { box-sizing: }

div { border: thin solid    }

#header {
  margin-top: 5px;
 }

#main-menu {
  width: 49.5%;
  float: left;}
#main-menu-form {
  width: 49.5%;
  float: right;}


#content-wrapper {
}
#content {
  text-align: center;
  width: 100%;
  float: right;
  padding: 5px;
  margin: 1px;
}

img {
  border: 5px solid green;
  max-width: 50%;
  float: right;
}
.img-post {
  border: 1px solid black;
  width: 30%;
  padding: 5px;
  border: 1px solid #cc0099; }
.img-post-right {
  border: 1px solid black;
  float: right; }
.img-post-left {
  border: 1px solid black;
  float: left; }

  .box {
  }
  .column {
    text-align: center;
    border: 6px solid #cc0099;
    width: 28%;
    float: right;
    margin-top: 20px;
    margin-right: 25px;

.clearfix {
  border: 1px solid black;
  clear: both;
 }
